.table {
  width: 100%;
  margin: 0 auto;
  min-width: 47rem;
  max-width: 100rem;
  font-size: 1.4rem;
  background: #141414;
  padding-bottom: 3rem;
}

.tableThead > tr > th {
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  background: #1d1d1d;
}

.tableThead > tr > th,
.tableTbody > tr > td {
  position: relative;
  padding: 1.6rem 1.6rem;
  overflow-wrap: break-word;
  transition: background 0.3s;
  border-bottom: 1px solid #303030;
}

.row {
  border-bottom: 1px solid #303030;
}

.row:hover > td {
  background: #262626;
}

.row:hover .reduceButton,
.row:hover .increaseButton,
.row.editableTime .reduceButton,
.row.editableTime .increaseButton {
  display: block;
}

.rowAnimation {
  animation-name: blink;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    background-color: none;
  }
  50% {
    background-color: #262626;
  }
  100% {
    background-color: none;
  }
}

.allianceIcon {
  margin-right: 0.6rem;
}

.nameColumn.nameColumn {
  text-align: left;
  font-weight: bold;
  padding-right: 3.2rem;
}

.respawnColumn.respawnColumn {
  width: 16rem;
  text-align: center;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  background: hsla(0, 0%, 100%, 0.01);
}

.remainingButton {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
}

.reduceButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
}

.increaseButton {
  display: none;
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
}

.approximately {
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}

.outDateIcon {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  color: #a61d24;
  transform: translateY(-50%);
}

.actionsColumn {
  width: 40rem;
  text-align: center;
}

.infoHolder {
  min-height: calc(100vh - 8.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoMessage {
  margin: 0;
}
