.layout {
  gap: 0;
}

.table {
  width: 100%;
  background: #141414;
}

.tableThead > tr > th {
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  background: #1d1d1d;
}

.tableThead > tr > th:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 70%;
  transform: translateY(-50%);
  border-right: 0.1rem solid #303030;
}

.tableThead > tr > th,
.tableTbody tr > td {
  position: relative;
  padding: 1.6rem 1.6rem;
  overflow-wrap: break-word;
  transition: background 0.3s;
  border-bottom: 1px solid #303030;
}

.tableTbody.interactive tr:hover > td {
  cursor: pointer;
  background: #262626;
}

.nickname {
  text-align: left;
}

.column {
  text-align: center;
}

.empty {
  margin: 0;
  padding: 1.6rem;
}
