.form {
  width: 37.4rem;
  min-height: 50rem;
  margin: 0 auto;
  background-color: #262626;
  padding: 2rem;
}

.wrapper {
  width: 100%;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.buttonHolder {
  width: 100%;
  text-align: center;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
}

.link {
  text-decoration: underline;
}
