.container {
  min-height: 100vh;
  font-size: 1.6rem;
  padding: 3rem 2rem 2rem;
}

.footer {
  padding-top: 6.5rem;
}

.authHolder {
  width: 100%;
  min-height: calc(100vh - 8.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundHolder,
.infoHolder {
  min-height: calc(100vh - 8.5rem);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.notFoundHolder a {
  text-decoration: underline;
}

.infoMessage {
  margin: 0;
}

.profileLayout {
  gap: 1rem;
  padding-bottom: 0;
}

.test {
  overflow-y: scroll;
}

.profileTab {
  display: none;
  padding-left: 0;
}
